
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;

}
img{
    display: block;
}

.section-titel {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* -----------------------HEADER------------------------- */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17 ;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 76px;
}
.accent {
    color: #2E2F42;
}

.navigation {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    gap: 40px;
}


.nav-iteam {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-iteam-link.studio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
}

.nav-iteam-link.studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.nav-iteam-link {
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.nav-iteam-link:hover,
.nav-iteam-link:focus {
    color: #404BBF;
}


.address {
    font-style: normal;
    margin-left: auto;
}

.address-list{
    display: flex;
    gap: 40px;
   
}
.address-iteam{
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-iteam:hover {
    color: #404BBF;
}

/* ------------------------------------------------ */

/* -------------------------HERO----------------------- */
.section-hero {
    background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        margin: 0 auto;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #ffffff;
}

.hero-titel{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;  
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.button-order{
    color: inherit;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}
/* ------------------------------------------------ */

/* -----------------------SECTION-FEATURES------------------------- */
.section-features {
    color: #434455;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 120px 0;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    gap: 24px;
}

.icon-features{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.icon-features-iteam{
    width: 100%;
    height: 100%;
    background-color: #f4f4fd;
    display: flex;
    fill: #f4f4fd;
    justify-content: center;
    align-items: center;
}
.features-titel{
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-iteam{

    width: calc((100% - 72px) / 4);
}
.features-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ------------------------------------------------ */

/* -----------------------SECTION-TEAM------------------------- */
.section-team{
    background-color: #F4F4FD;
    padding: 120px 0
}

.team-list{
    display: flex;
    margin-top: 72px;
    gap: 24px;
}

.team-iteam{
    text-align: center;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16),  
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.worker{
    padding: 32px 0;
    margin: auto;
}

.team-titel{
    line-height: 1.2;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}
.team-text{
    line-height: 1.5;
    text-transform: capitalize;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.social-link-team {
    display: flex;
    justify-content: center;
    gap:24px;
}

.social-link-item{
    width: 40px;
    height: 40px;
}

.icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-icon {
    fill: #f4f4fd;
}

/* ------------------------------------------------ */

/* -----------------------SECTION-PORTFOLIO------------------------- */
.section-portfolio{
    padding: 120px 0 120px 0;
}

.portlofio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-iteam {
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-wrap {
        position: relative;
        overflow: hidden;
}

.overlay {
        position: absolute;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-iteam:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-iteam:hover .overlay{
    transform: translateY(0%);
}
.iteam-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.portfolio-titel{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px
}

.portfolio-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-top: 8px;

    }
/* ------------------------------------------------ */

/* -----------------------FOOTER------------------------- */
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-flex {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.footer-items {
    margin-right: 120px;
}


.logo-footer{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    display: inline-block;
    margin-bottom: 16px;
}

.accent-footer {
    color: #F4F4FD;
}

.footer-text{
    max-width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
}


.social-link-titel{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-link-list {

    display: flex;
    justify-content: center;
    gap: 16px;
}


.social-link-iteam {
    width: 40px;
    height: 40px;
}

.icon-link-footer {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31d0aa;
}

.icon-icon-footer {
    fill: #f4f4fd;
}

.footer-input-wrap {
    margin-left: 80px;
}

.footer-subtitel {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.footer-label {}

.footer-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-submit-btn {

    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-btn-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
    background-color: #404bbf;
}
/* ------------------------------------------------ */

/* -----------------------MODAL WINDOW------------------------- */
.modal-overlay{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open{
    opacity: 1;
    pointer-events: auto;

}

.modal{
    width: 408px;
    min-height: 584px;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;


} 

.exit-button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-icon{
     fill: #2e2f42;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}

.exit-button:hover .exit-icon,
.exit-button:focus .exit-icon{
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.exit-button:hover,
.exit-button:focus {
    background-color: #404BBF;
    border: none;
}

.window-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form {}

.form-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.form-input {
    background-color: transparent;
    outline: transparent;
    color: rgb(46, 47, 66);
    width: 100%;
    height: 40px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
}

.form-input:focus{
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4,0, 0.2,1);
}

.form-input:focus + .form-icon{
    fill: #4d5ae5;
}

.form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    background-color: transparent;
}

.form-comment:focus{
    border-color: #4d5ae5;

}
.form-field.comment{
    margin-bottom: 16px;
}

.form-comment::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.privacy {
    margin-bottom: 24px;
}

.form-check {}

.check-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;}

.check-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border-color: #8e8f99;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.form-check:checked + .check-text span{
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

.link-privacy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.submit-button{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
     border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
    background-color: #404bbf;
}
/* ------------------------------------------------ */