
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;

}
img{
    display: block;
    height: auto;
    max-width: 100%;
}

.section-titel {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


/* -----------------------HEADER------------------------- */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17 ;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 17px 0;
}
.accent {
    color: #2E2F42;
}

.navigation {
    display: flex;
    align-items: center;

}

.nav-list {
    display: none;
}


.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}



.open-menu-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;

}

/* ------------------------------------------------ */

/* -------------------------menu----------------------- */
.menu-overlay {
    background-color: #fcfcfc;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    
    align-items: center;
    padding: 24px 24px 40px 16px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
   
}

.menu-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

}



.header-exit-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-box{
    display: flex;
    flex-direction: column;
}

.menu-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.menu-text{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.studio-menu{
    color:#404BBF ;
}

.menu-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.menu-address-iteam {
       color: #434455;
       font-family: "Roboto", sans-serif;
       font-size: 20px;
       font-weight: 500;
       line-height: 24px;
       letter-spacing: 0.02em;
       text-align: left;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-menu{
    color: #4D5AE5 ;
}

.menu-address-iteam:hover {
       color: #404BBF;
}

.menu-social-link-list {
    margin-top: 48px;
    display: flex;
    gap: 40px;
}


.menu-social-link-iteam {
    width: 40px;
    height: 40px;
}

.icon-link-menu {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-icon-menu {
    fill: #f4f4fd;
}
/* ------------------------------------------------ */

/* -------------------------HERO----------------------- */
.section-hero {
    background-color: #2e2f42;
    padding: 72px 0;
    margin:  auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
        
}

.hero-titel{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;  
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    
    }
.button-order{
    color: inherit;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}

@media screen and (min-resolution:2dppx),
(min-resolution:192dpi) {
    .section-hero {
        background-color: #2e2f42;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mob-2x.jpg);
    }
}
@media screen and (min-width:768px) {
    .section-hero {
        background-color: #2e2f42;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab.jpg);
    }
}

/* ------------------------------------------------ */

/* -----------------------SECTION-FEATURES------------------------- */
.section-features {
    color: #434455;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 120px 0;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    flex-direction: column;
    gap: 74px;
    align-items: center;
    justify-content: center;
}

.icon-features{
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.icon-features-iteam{
    width: 100%;
    height: 100%;
    background-color: #f4f4fd;
    display: flex;
    fill: #f4f4fd;
    justify-content: center;
    align-items: center;
}
.features-titel{
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ------------------------------------------------ */

/* -----------------------SECTION-TEAM------------------------- */
.section-team{
    background-color: #F4F4FD;
    padding: 96px  28px;
    margin: auto;
}

.team-list{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.team-iteam{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16),  
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.worker{
    padding: 32px 0;
    margin: auto;
}

.team-titel{
    line-height: 1.2;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}
.team-text{
    line-height: 1.5;
    text-transform: capitalize;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.social-link-team {
    display: flex;
    justify-content: center;
    gap:24px;
}

.social-link-item{
    width: 40px;
    height: 40px;
}

.icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-icon {
    fill: #f4f4fd;
}

/* ------------------------------------------------ */

/* -----------------------SECTION-PORTFOLIO------------------------- */
.section-portfolio{
    padding: 96px 16px;
}

.portlofio-list{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.portfolio-iteam {
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-wrap {
        position: relative;
        overflow: hidden;

}

.overlay {
        position: absolute;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        height: 100%;
        width: 100%;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-iteam:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-iteam:hover .overlay{
    transform: translateY(0%);
}
.iteam-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    height: 120px;
}

.portfolio-titel{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px
}

.portfolio-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-top: 8px;

    }
/* ------------------------------------------------ */

/* -----------------------FOOTER------------------------- */
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-flex {
    max-width: 320px;
    padding: 0 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.footer-items {
    text-align: center;
}


.logo-footer{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    display: inline-block;
    margin-bottom: 16px;
}

.accent-footer {
    color: #F4F4FD;
}

.footer-text{
    
    color: #f4f4fd;
    line-height: 1.5;
}


.social-link-titel{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-link-list {

    display: flex;
    justify-content: center;
    gap: 16px;
}


.social-link-iteam {
    width: 40px;
    height: 40px;
}

.icon-link-footer {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31d0aa;
}

.icon-icon-footer {
    fill: #f4f4fd;
}

.footer-wrap {
    text-align: center;
}

.footer-subtitel {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

    }

.footer-input-wrap {
    justify-content: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 288px;
    height: 136px;
}

textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

.footer-label {}

.footer-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-submit-btn {

    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-btn-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
    background-color: #404bbf;
    border: none;
}
/* ------------------------------------------------ */

/* ------------------------INPUT-WINDOW------------------------ */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover>.modal-btn-icon,
.modal-btn:focus>.modal-btn-icon {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-container {
    margin-bottom: 8px;
}

.container-div {
    position: relative;
}

.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: #4d5ae5;
}

.icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus+.icon {
    fill: #4d5ae5;
}

textarea {
    resize: none;
    padding: 8px 16px;
    font-family: inherit;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input {}

.container-form {
    display: block;
    flex-direction: column;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    font-family: inherit;
}

.container-form:focus {
    border-color: #4d5ae5;
}

.textarea-title {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-title:focus {
    border-color: #4d5ae5;
}

.privacy-policy-input.checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.privacy-policy-input.textarea-margin {
    margin-bottom: 16px;
}

.checkbox visually-hidden {}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
}

.privacy-policy-link {
    color: #4d5ae5;
}

.privacy-policy-text {}

.checkbox-checked:checked+.checkbox-label>.privacy-policy-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
}

.modal-button:hover {
    background-color: #404bbf;
}

/* -----------------------MOB-MODAL------------------------- */
.backdrop-mobile-modal {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-mobile-modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-mob {
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.modal-btn-mob {
    align-self: flex-end;
    margin-bottom: 24px;
}

.modal-btn-icon.mob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #2e2f42;
}

.privacy-policy-input.checkbox {
    margin-bottom: 24px;
}

.checkbox-label {
    flex-direction: row;
    justify-content: start;
    
    }
/* ------------------------------------------------ */

/* ----------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-container {
        padding-bottom: 0;
    }

    .header-exit-btn{
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        margin: 0 auto;
        width: 50%;
    }

        .nav-iteam {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
        }
    
        .nav-iteam-link.studio {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            position: relative;
            color: #404bbf;
        }
    
        .nav-iteam-link.studio::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #404bbf;
            border-radius: 2px;
    
        }
    
        .nav-iteam-link {
            color: #2e2f42;
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
        }
    
        .nav-iteam-link:hover,
        .nav-iteam-link:focus {
            color: #404BBF;
        }

    .address {
        display: flex;
        font-style: normal;
        margin-left: auto;
            
    }

    .adress-list {
        gap: 12px;
    }
.address-iteam {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-iteam:hover {
    color: #404BBF;
}

    .open-menu-btn{
        display: none;
    }

.section-hero{
    background-color: #2e2f42;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab.jpg);
}

        @media screen and (min-resolution:2dppx),
        (min-resolution:192dpi) {
            .section-hero {
                background-color: #2e2f42;
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-tab-2x.jpg);
            }
        }
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        width: 496px;
        height: 120px;
        word-wrap: break-word;
    }

    .features-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .features-iteam {
        width: calc((100% - 24px) / 2);
    }

    .features-titel {
        text-align: left;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-iteam {
        width: calc((100% - 24px) / 2);
    }

    .main-wrap{
        width: auto;
    }

    .footer {
        padding-bottom: 0;
    }

    .footer-flex {
        width: 768px;
        height: 456px;
    }

    .logo-footer{
        padding-top: 0;
    }

    .footer-text {
        text-align: justify;
        width: 264px;
    }

    .footer-items {
        margin-left: 108px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: start;
        width: 264px;
    }

    .footer-wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: start;
        margin-right: 164px;
        margin-top: 0;
    }

    .social-link-list {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .logo-social {
        display: flex;
        flex-direction: row;
        gap: 24px;
        text-align: justify;
    }

    .footer-input-wrap {
        width: 453px;
        height: 80px;
        text-align: justify;
        margin-left: 108px;
        margin-right: 207px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
    }

    .footer-input {
        margin-bottom: 0px;
        max-width: 264px;
        margin-right: 24px;
    }


    .backdrop-tablet.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .modal-tablet {
        width: 408px;
        height: 584px;
    }
}

/* ----------------------DESKTOP-------------------------- */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        margin-left: 156px;
        margin-right: 156px;
        padding-top: 0;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
    }

    .accent {
        color: #2e2f42;
    }

    .navigation {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        align-items: center;
        color: #2e2f42;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-iteam {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-iteam:hover,
    .nav-iteam:focus {
        color: #404bbf;
    }

    .nav-iteam-link {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        align-items: center;
        color: #2e2f42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-iteam-link:hover,
    .nav-iteam-link:focus {
        color: #404bbf;
    }

    .studio {
        position: relative;
        color: #404bbf;
    }

    .nav-iteam-link.studio::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .nav-iteam-link .studio {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

 

        .address {
            font-style: normal;
            margin-left: auto;
        }
    
        .address-list {
            display: flex;
            gap: 40px;
            justify-content: center;
            align-items: center;
    
        }
    
        .address-iteam {
            color: #434455;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: left;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .address-iteam:hover {
            color: #404BBF;
        }
    .open-menu-btn{
        display: none;
    }

    .section-hero {
                background-color: #2e2f42;
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office.jpg);
        background-color: #2e2f42;
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
    }
        @media screen and (min-resolution:2dppx),
        (min-resolution:192dpi) {
            .section-hero {
                background-color: #2e2f42;
                background-image: linear-gradient(to bottom,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-2x.jpg);
            }
        }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        width: 496px;
        height: 120px;
        word-wrap: break-word;
    }

           .section-features {
               color: #434455;
               font-family: "Roboto", sans-serif;
               line-height: 1.2;
               letter-spacing: 0.02em;
               text-align: left;
               padding: 120px 0;
               background-color: #FFFFFF;
           }
    .features-list {
        display: flex;
        gap: 24px;
    }
    
    .icon-features {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
    
    .icon-features-iteam {
        width: 100%;
        height: 100%;
        background-color: #f4f4fd;
        display: flex;
        fill: #f4f4fd;
        justify-content: center;
        align-items: center;
    }
    
    .features-titel {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }
    
    .features-iteam {
    
        width: calc((100% - 72px) / 4);
    }
    
    .features-text {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .team-list{
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        padding: 32px 16px;
    }

    .portfolio-iteam {
        width: calc((100% - 48px) / 3);
        padding-left: 0;
        margin: 0;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-iteam:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-iteam:hover .overlay-text {
        transform: translateY(0);
    }

    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;
        padding-left: 0;
        margin: 0;
    }

    .main-wrap{
        position: relative;
        overflow: hidden;
        width: 360px;
        margin: 0 auto;
    }

    .overlay {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: #4d5ae5;
        color: #f4f4fd;
        padding: 40px 32px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-flex{
        width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .logo-social {
        gap: 120px;
    }

    .logo-footer{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-items {
        margin-left: 0;
        gap: 0;
    }

    .accent-footer {
        color: #f4f4fd;
    }

    .footer-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
    }

    .footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container-wrap{
        margin-right: 0;
        gap: 0;
    }

    .footer-social-media {
        display: flex;
        gap: 16px;
    }

    .social-link-list {
        width: 40px;
        height: 40px;
    }

    .icon-link-footer{
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-link-footer:hover,
    .icon-link-footer:focus {
        background-color: #31d0aa;
    }

    .social-link-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
    }

    .footer-input-wrap {
        max-width: 453px;
        max-height: 80px;
        margin-left: 80px;
        margin-right: 0;
    }

    .backdrop {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }

    .modal-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-btn:hover,
    .modal-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
    }

    .modal-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-btn:hover>.modal-btn-icon,
    .modal-btn:focus>.modal-btn-icon {
        fill: #ffffff;
    }
}